<div class="qrest-connect-dialog-container qui-modalbackground">
    <div class="qrest-connect-dialog body qui-delayedModal">
        <div class="white-qv-loader qv-loader qrest-loader" data-ng-show="isLoading"></div>
        <div class="select-config-dialog">
            <h1>Choose a REST Configuration</h1>
            <ul class="select-config-source dictionary-nav">
                <li class="nav-button card active">Online</li>
                <li class="nav-button card">Local</li>
            </ul>
            <div class="select-config" ng-show="step=='config-selection'">
                <ul>
                    <li ng-repeat="dic in onlineDictionaryList" qva-activate="loadTemplate('connection-settings', '{{dic._id}}', '{{dic.dictionary_url}}','online')" data-next-step="connection-settings">
                        <div class="card dictionary">
                            <span class="title">{{dic.display_name}}</span>
                            <a class="sub-title">{{dic.owner}}</a>
                            <div class="icon">
                                <img src="{{dic.icon}}" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="connection-settings" ng-show=" step=='connection-settings' ">
                <h2>Please provide a name and the Url for the connection</h2>
                <input ng-model="name" placeholder="Connection Name" />
                <input ng-model="url" data-parameter="url" placeholder="Url" />
                <div>
                    <div class="white-qv-loader qv-loader qrest-loader" data-ng-show="subpageLoading"></div>
                    <div ng-include src="subpage">
                        <ng-include />
                    </div>
                </div>
            </div>
        </div>
        <footer class="dm-footer qrest-footer">
            <qui-button class="qui-button" qva-activate="$event.preventDefault(); onCancelClicked()" q-translation="Common.Cancel"></qui-button>
            <qui-button class="qui-button" qva-activate="$event.preventDefault(); onOKClicked()" q-translation="Common.Save">
                Save
            </qui-button>
        </footer>
    </div>
</div>
